$header-color: white;
$header-bg-color: dodgerblue;
$menu-highlight-color: orange;

$side-bar-width: 180px;
$side-bar-background: steelblue;
$side-bar-item-color: white;
$side-bar-highlight-bg: rgba(255, 255, 255, 0.1);
$side-bar-active-color: orange;
$side-bar-title-font-size: 14px;
$side-bar-child-font-size: 14px;
$side-bar-item-border-color: rgba(0,0,0,0.1);

$scrollbar-width: 4px;
$scrollbar-track-bg: rgba(0,0,0,0.1);
$scrollbar-thumb-bg: rgba(0,0,0,0.4);

$bread-crumb-icon-color: #999;
$bread-crumb-text-color: #999